{%- if versions or READTHEDOCS -%}
  <div class="nav-versions">
    <button type="button" class="js-menu" aria-controls="nav-versions-choices" aria-expanded="false" aria-label="{{ _("Versions") }}">
      <iconify-icon icon="lucide:tags"></iconify-icon>
      <span class="md:hidden">{{ _("Versions") }}</span>
      <i class="i-lucide chevron-down"></i>
    </button>
    <div class="nav-versions-choices" id="nav-versions-choices" aria-hidden="true">
      <ul>
        {%- for version in versions -%}
          <li><a href="{{ version[1] }}">{{ version[0] }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{%- endif -%}
